backend:
  name: github
  repo: nepsidehustle/odesandcodes
  branch: main
  base_url: https://odesandcodes-auth.leatherandpainted.workers.dev
  # site_domain removed temporarily to troubleshoot the blank screen

media_folder: "public/images"
public_folder: "/images"

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/content/blog"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }